.about
	width: 85%
	max-width: 100%
	display: flex
	justify-content: space-between
	align-items: center
	margin: -80px auto
	padding-bottom: 80px

.about__text
	width: 600px
	max-width: 100%

.about-text__title
	font-family: Dosis
	font-style: normal
	font-weight: bold
	font-size: 36px
	line-height: 48px
	text-align: center
	text-transform: uppercase
	margin: 0
	&::after
		background: #E8C300
		border-radius: 50px
		width: 59.19px
		height: 6px
		content: ''
		display: block
		margin: 5px auto

.about-text__paragraph
	font-family: Open Sans
	font-weight: bold
	font-style: normal
	font-weight: bold
	font-size: 18px
	line-height: 28px
	text-align: center

.about-text__content
	font-family: Open Sans
	font-style: normal
	font-weight: normal
	font-size: 14px
	line-height: 27px
	text-align: center

.about__img
	position: relative
	&::before
		content: ''
		display: block
		width: 250px
		height: 250px
		position: absolute
		border:
		border-radius: 5px
		border: 20px solid #E8C300
		top: 25%
		right: -15%
