.contact
	width: 100%
	max-width: 100%
	padding-bottom: 100px

.contact__text
	padding-top: 100px
	width: 600px
	max-width: 100%
	margin: 0 auto

.contact-text__title
	font-family: Dosis
	font-style: normal
	font-weight: bold
	font-size: 36px
	line-height: 48px
	text-align: center
	text-transform: uppercase
	margin: 0
	&::after
		background: #E8C300
		border-radius: 50px
		width: 59.19px
		height: 6px
		content: ''
		display: block
		margin: 5px auto
		transition: transform .5s
	&:hover::after
		transform: scaleX(3)

.contact-text__paragraph
	font-family: Open Sans
	font-weight: bold
	font-style: normal
	font-weight: bold
	font-size: 18px
	line-height: 28px
	text-align: center

.contact-text__content
	font-family: Open Sans
	font-style: normal
	font-weight: normal
	font-size: 14px
	line-height: 27px
	text-align: center
.contact__form
	width: 100%
	// justify-content: space-between
.contact-form__conteiner
	display: grid
	width: 100%
	grid-template-columns: 1fr 1fr 1fr
	grid-auto-rows: 60px 120px 60px
	grid-gap: 10px
	padding-top: 50px
.textarea__contact
	grid-column: 1/4
	padding-top: 20px
	resize: none

.contact-form__inp
	display: block
	font-family: Open Sans
	font-style: normal
	font-weight: normal
	font-size: 14px
	line-height: 19px
	background: #E5E5E5
	border-radius: 5px
	border: none
	outline: none
	padding-left: 21px
	box-sizing: border-box
	position: relative

.contact__info
	color: #999999
	font-family: Open Sans
	font-style: normal
	font-weight: normal
	font-size: 14px
	line-height: 19px
	box-sizing: border-box
	width: 640px

.contact-info__icon
	color: #E8C300
	padding-right: 10px

.contact__btn
	background: #E8C300
	border-radius: 5px
	font-family: Open Sans
	font-style: normal
	font-weight: bold
	font-size: 12px
	line-height: 20px
	width: 640px
	color: #FFFFFF
	grid-column: 2/3
	border: none
	outline: none
	height: 60px
.contact-form__conteiner2
	padding-top: 10px
	width: 99.5%
	display: flex
	justify-content: space-between
	align-items: center

@media ( max-width: 425px)
	.contact-form__conteiner
		display: grid
		width: 50%
		grid-template-columns: 40% 40%
		grid-auto-rows: 60px 120px 60px
		grid-gap: 10px
		padding-top: 30px
