.privat

	width: 100%
	max-width: 100%
	background: url('./assetsPC/privat.png') fixed center/cover no-repeat
	margin: 0px auto
	// padding-bottom: 80px
	color: #fff
	padding-bottom: 40px
.privat__fix
	display: flex
	justify-content: space-between
	align-items: center
	width: 85%
	max-width: 100%
	margin: -50px auto
	padding-bottom: 40px
.privat__title
	font-family: Open Sans
	font-style: normal
	font-weight: normal
	font-size: 15px
	line-height: 14px
	text-align: center
	padding: 50px
	letter-spacing: 10px

.privat-fix__left
	position: relative
.privat-fix__right
	position: relative

.fix-left__text
	position: absolute
	transform: rotate(90deg)
	right: -153px
	top: 251.5px
	background: #000000
	padding-top: 30px
	padding-bottom: 30px
	padding-left: 30px
	padding-right: 342.9px
	border-radius:
	font-family: Dosis
	font-style: normal
	font-weight: 500
	font-size: 24px
	line-height: 12px
	text-transform: uppercase
	border-radius: 5px 5px 0px 0px

.fix-right__text
	position: absolute
	transform: rotate(-90deg)
	left: -153px
	top: 251.5px
	background: #000000
	padding-top: 30px
	padding-bottom: 30px
	padding-left: 30px
	padding-right: 249px
	border-radius:
	font-family: Dosis
	font-style: normal
	font-weight: 500
	font-size: 24px
	line-height: 12px
	text-transform: uppercase
	border-radius: 5px 5px 0px 0px

.privat__data
	margin: 0 auto
	font-family: Open Sans
	font-style: normal
	font-weight: normal
	font-size: 12px
	line-height: 12px
	text-align: center
	padding-top: 40px
	padding-bottom: 40px
.privat-img__colection
	background: url('./assetsPC/Photo.png') center/cover no-repeat
	width: 100%
	height: 360px
